.center-login{
    max-width: 662px;
    width: auto;
    min-height: 400px;
    position: relative;
    top: 50%;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-50%);

}

.left-login{
    width: 263px;
    height: 376px;
    background: rgba(54,35,87,.8);
    position: absolute;
    top: 50%;
    margin-top: -188px;
    border-radius: 2px;
    color: #FFF;
    text-align: center;
    box-shadow: -2px 0 20px 0 rgba(0,0,0,.4);

}

.login-title{
    font-size: 26px;
    margin-top: 60px;
    display: block;
}


.center-login .left-login .join-us-desc {
    text-align: center;
    margin: 30px 30px 40px;
    font-size: 13px;
    font-style: italic;
    opacity: .5;
}

.center-login .left-login .buttonTransparent{
    border-radius: 100px;
    width: 206px;
    height: 45px;
    font-size: 14px;
    border: 1px solid #FFF;
    font-family: 'Verdana';
    background: rgba(255,255,255,0);
    color: #FFF
}

.center-login .right-login{
    width: 399px;
    min-height: 400px;
    height: 100%;
    background-color: #FFF;
    float: right;
    border-radius: 2px;
    box-shadow: -2px 0 20px 0 rgba(0,0,0,.4);
}

.center-login .right-login .icon-timo{
    padding-top: 40px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.content-input {
    width: 300px;
    height: auto;
    margin: 0 auto;
    margin-top: 60px;

}

.login-content .form-group, .resetPassword-content .form-group {
    margin-bottom: 20px;
}

.form-group.form-pw {
    margin-top: 20px;
    position: relative;
}

.login-content .form-group, .resetPassword-content .form-group {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    size: 250px;
}

.content-input .link-reset-password {
    margin-top: 20px;
}

.login-content .form-group, .resetPassword-content .form-group {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.login-content {
    height: 100vh;
}

.btn-kyc {
    width: 100%;
    height: 56px;
}


element.style {
    position: relative;
}
.content-input .buttonPurple {
    background-color: #5B3693;
    border-radius: 100px;
    
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -os-border-radius: 100px;
    height: 45px!important;
    font-size: 14px;
    font-family: 'Open Sans';
}
.btn-kyc {
    width: 100%;
    height: 56px;
}
.btn-default-green {
    font-weight: 900;
    font-size: 16px;
    color: #fff;
    
    background-color: #21ce99;
    width: 168px;
    height: 48px;
    transition: all .3s ease 0s;
    padding: 0;
    margin: 0;
    border-width: 0;
    outline: 0;
    padding: 0px 10px;
}

.btn {
    font-family: 'Open Sans Light';
    text-align: center;
    font-size: 16px;
    
}

.btn-kyc {
    width: 100%;
    height: 56px;
    
}

.login-content input:not([type]).input-kyc, .login-content input[type=email].input-kyc, .login-content input[type=password].input-kyc, .login-content input[type=text].input-kyc, .login-content textarea.input-kyc, .resetPassword-content input:not([type]).input-kyc, .resetPassword-content input[type=email].input-kyc, .resetPassword-content input[type=password].input-kyc, .resetPassword-content input[type=text].input-kyc, .resetPassword-content textarea.input-kyc {
    border: 1px solid #bebcc4;
    font-size: 16px;
    color: #333;
}
.form-control {
    display: block;
    width: 100%;
    height: 44px;
    padding: 0px 0px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
input {
    height: 45px!important;
    font-size: 16px;
}

input::placeholder {
    padding: 0px;
  }

  html, body {
    min-height: 100%;
}
body {
    /*background-image: url(../images/bg_login.jpg);*/
    background-position: 0 0;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    height: 100vh;
    position: relative;
    overflow: auto;
}
@media (min-width: 1120px), (min-height: 630px) {
    body { background-size: auto; }
}